main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    margin: auto;
    max-width: 90vw;
    /* background-color: blue; */
}

h1{
    color: rgb(61, 61, 61);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 40px;
}

#board{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 330px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3px;
    background-color: rgb(88, 92, 114);
    width: 100px;
    height: 100px;
    color: #fff;
    font-size: 68px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
